* {
    padding: 0;
    margin: 0;
}

header {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

 nav ul {
    list-style-type: none;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    border: 1px solid black;
}

nav li {
    border-right: 1px solid black;
    width: 100px;
    height: 35px;
    text-align: center;
    background-color: lightgray; /* For browsers that do not support gradients */
    background-image: linear-gradient(lightgray, black);
}

nav a {
    text-decoration: none;
    color: white;
}

.center {
    line-height: 1.5;
    vertical-align: middle;
}

.last {
  border: 0;
  width: 200px;
}

.container-search {
    position: relative;
    width: 100%;
}

.search {
    border-radius: 80px;
    float: left;
}

.icon-search {
    position: absolute;
    right: 160px;
    top: 5px;
    color: black;
}
